In [314]:
group = {'layer1':[0.1,0.2,0.3],
         'layer2':[0.1,0.2,0.3],
         'layer3':[0.1,0.2,0.3],
         'layer4':[0.1,0.2,0.3],
         'layer5':[0.1,0.2,0.3],
         'response_type':'tanh'
        }
df = pd.DataFrame(group, columns = group.keys())
# print df['layer1'][0]
print df[group.keys()[0]][0]
print group.keys()
df.to_csv('./data/group.csv')
dfr = pd.read_csv('./data/group.csv',header=False,names=group.keys())
print df
print "==="
print dfr
print "==="
print dfr.keys()
print "==="
print dfr[group.keys()[0]][0], "yereere"
print group.keys() == dfr.keys()
a= dfr[group.keys()[0]]
an = np.array(a)
print an, type(an)
groupa = {group.keys()[0]:an}
print groupa
groupab = {group.keys()[0]:an.tolist()}
print groupab
dfa = pd.DataFrame(groupa,columns=groupa.keys())
print dfa
dfab = pd.DataFrame(groupab,columns=groupab.keys())
print dfab
dfa.to_csv('./data/groupa.csv')
dfab.to_csv('./data/groupab.csv')

0.1
['layer3', 'layer2', 'layer1', 'layer5', 'layer4', 'response_type']
   layer3  layer2  layer1  layer5  layer4 response_type
0     0.1     0.1     0.1     0.1     0.1          tanh
1     0.2     0.2     0.2     0.2     0.2          tanh
2     0.3     0.3     0.3     0.3     0.3          tanh
===
   layer3  layer2  layer1  layer5  layer4 response_type
0     0.1     0.1     0.1     0.1     0.1          tanh
1     0.2     0.2     0.2     0.2     0.2          tanh
2     0.3     0.3     0.3     0.3     0.3          tanh
===
Index([u'layer3', u'layer2', u'layer1', u'layer5', u'layer4',
       u'response_type'],
      dtype='object')
===
0.1 yereere
[ True  True  True  True  True  True]
[ 0.1  0.2  0.3] <type 'numpy.ndarray'>
{'layer3': array([ 0.1,  0.2,  0.3])}
{'layer3': [0.1, 0.2, 0.3]}
   layer3
0     0.1
1     0.2
2     0.3
   layer3
0     0.1
1     0.2
2     0.3

In [82]:
import numpy as np
dic={}
wFactor=[4.4,0.3,0.7]
x=np.array([5.4,0.3,0.7])
for i,item in enumerate(wFactor):
    print np.atleast_1d(item),x[i].round(0)
    dic[i]=np.atleast_1d(item)*x[i].round(0)
print dic
print [2.3]*3,np.array([2.3])*3

[ 4.4] 5.0
[ 0.3] 0.0
[ 0.7] 1.0
{0: array([ 22.]), 1: array([ 0.]), 2: array([ 0.7])}
[ 6.9]

In [ ]:
# dic = dict(enumerate(np.array([0.3,0.2,0.1])))
# print dic

In [281]:
raw_data = {'first_name': ['Jason', 'Molly'],
        'last_name': ['Miller', 'Jacobson'],
        'age': [42, 52],
        'preTestScore': [4, 24],
        'postTestScore': ["25,000", "94,000"]}
df = pd.DataFrame(raw_data, columns = raw_data.keys())
print df['first_name'][0]
df.to_csv('./data/example.csv')
dfr = pd.read_csv('./data/example.csv',header=False,names=raw_data.keys())
print df
print "==="
print dfr
print "==="
print dfr.keys()
print "==="
print dfr["last_name"][0]

Jason
  first_name last_name  age postTestScore  preTestScore
0      Jason    Miller   42        25,000             4
1      Molly  Jacobson   52        94,000            24
===
  first_name last_name  age postTestScore  preTestScore
0      Jason    Miller   42        25,000             4
1      Molly  Jacobson   52        94,000            24
===
Index([u'first_name', u'last_name', u'age', u'postTestScore', u'preTestScore'], dtype='object')
===
Miller

In [234]:
raw_data = {'first_name': ['Jake', 'Amy'],
        'last_name': ['Milner', 'Cooze'],
        'age': [24, 73],
        'preTestScore': [2, 3],
        'postTestScore': [62, 70]}
raw2 = {'first_name': ['jack'],
        'last_name': ['miler'],
        'age': [23],
        'preTestScore': [2],
        'postTestScore': [2]}
df = pd.DataFrame(raw_data,columns=raw_data.keys())
df.to_csv('./data/example.csv')
print df.first_name,type(df.first_name[1])
df
print df.first_name[0]
print raw_data.items()
print "======"
dfr = pd.read_csv('./data/example.csv')
# print dfr, dfr.columns
print dfr

0    Jake
1     Amy
Name: first_name, dtype: object <type 'str'>
Jake
[('first_name', ['Jake', 'Amy']), ('last_name', ['Milner', 'Cooze']), ('age', [24, 73]), ('postTestScore', [62, 70]), ('preTestScore', [2, 3])]
======
   Unnamed: 0 first_name last_name  age  postTestScore  preTestScore
0           0       Jake    Milner   24             62             2
1           1        Amy     Cooze   73             70             3

In [14]:
print dict([('A', 1), ('B', 2), ('C', 3)])
print {'A': 1, 'C': 3, 'B': 2}
# tu = ('A', [1])
# print tu, tu[1]
# tu[1][0]=2
# tu[1].append(2)
# print tu
# listlist = []
# print listlist
# listlist = [1]*3
# print listlist
a={(1,1):1.453, (1,2):2.967}
print a[(1,1)], a[1,1]
states = {
    'Oregon': 'OR',
    'Florida': 'FL',
    'California': 'CA',
    'New York': 'NY',
    'Michigan': 'MI'
}
cities = {
    'CA': 'San Francisco',
    'MI': 'Detroit',
    'FL': 'Jacksonville',
    'NY': 'New York',
    'OR': 'Portland'
}
for abb,city in cities.items():
    print (abb,city)
print "==="
for key in cities:
    print key

{'A': 1, 'C': 3, 'B': 2}
{'A': 1, 'C': 3, 'B': 2}
('A', [1]) [1]
('A', [2, 2])
[]
[1, 1, 1]
1.453 1.453
('FL', 'Jacksonville')
('CA', 'San Francisco')
('MI', 'Detroit')
('OR', 'Portland')
('NY', 'New York')
===
FL
CA
MI
OR
NY

In [144]:
m = {'id': 2, 'name': 'hussain'}
n = json.dumps(m)
print n
# print n["id"]
o = json.loads(n)
print o['id'], o['name']

 {"id": 2, "name": "hussain"}
2 hussain

In [140]:
import ast
a=ast.literal_eval("{'muffin' : 'lolz', 'foo' : 'kitty'}")
print a,a["muffin"]
# b=ast.literal_eval('{'muffin' : 'lolz', 'foo' : 'kitty'}')
# print b
h = '{"foo":"bar", "foo2":"bar2"}'
b=ast.literal_eval(h)
print b
c=json.loads(h)
print c,c["foo"],type(c["foo"])
print "======"
s = "{'muffin' : 'lolz', 'foo' : 'kitty'}"
# d=json.loads(s)
# print d
spro = s.replace("'", "\"")
sdic=json.loads(spro)
print spro,sdic,sdic["muffin"]
# print spro["muffin"]

{'muffin': 'lolz', 'foo': 'kitty'} lolz
{'foo': 'bar', 'foo2': 'bar2'}
{u'foo': u'bar', u'foo2': u'bar2'} bar <type 'unicode'>
======
{"muffin" : "lolz", "foo" : "kitty"} {u'muffin': u'lolz', u'foo': u'kitty'} lolz

In [126]:
dic = {'Name': 'Zara', 'Age': 27}
print dic.get("Age"),dic.get("sex")
print dic.get("sex","default string")
print dic.has_key("sex")
dicCopy = dic.copy()
print dicCopy,dic
dicCopy["Job"]="coder"
print dicCopy,dic
print dic.items()
print "returns a list of dict's (key, value) tuple pairs"
doc = {"where":"us","state":"ca"}
dic.update(doc)
print doc, dic
dic.update(dicCopy)
print dic
print dic.setdefault("food","human food")
print dic
print dic.setdefault("Name","what??")

27 None
default string
False
{'Age': 27, 'Name': 'Zara'} {'Age': 27, 'Name': 'Zara'}
{'Age': 27, 'Name': 'Zara', 'Job': 'coder'} {'Age': 27, 'Name': 'Zara'}
[('Age', 27), ('Name', 'Zara')]
returns a list of dict's (key, value) tuple pairs
{'state': 'ca', 'where': 'us'} {'Age': 27, 'where': 'us', 'Name': 'Zara', 'state': 'ca'}
{'state': 'ca', 'Name': 'Zara', 'Age': 27, 'where': 'us', 'Job': 'coder'}
human food
{'state': 'ca', 'Name': 'Zara', 'food': 'human food', 'Age': 27, 'where': 'us', 'Job': 'coder'}
Zara

In [111]:
tel = {'jack':3409,'sape':2343}
tel["dell"]=9202
del tel["sape"]
print tel["jack"], len(tel)
# print tel["meow"]
tel.clear()
print tel, "nothing elft"
dic={}
dic["soso"]="34534"
print dic, tel.keys(),tel.values()
print "soso" in dic
print "====="
made = dict(savy=2098,guido=2423,jack=2039)
print made
made2 = dict([("sape",2342)])
print made2, type(made2)
# wrong = dict("sape",2342)
made3 = (["sape",2232])
print made3, type(made3)
# made4 = dict(["sape",2232])
# print made4
print str(made)
print "===="
seq = ('name', 'age', 'sex')
dic = dict.fromkeys(seq)
print dic
dic2 = dict.fromkeys(seq,[2,3,4])
print dic2

3409 2
{} nothing elft
{'soso': '34534'} [] []
True
=====
{'guido': 2423, 'jack': 2039, 'savy': 2098}
{'sape': 2342} <type 'dict'>
['sape', 2232] <type 'list'>
{'guido': 2423, 'jack': 2039, 'savy': 2098}
====
{'age': None, 'name': None, 'sex': None}
{'age': [2, 3, 4], 'name': [2, 3, 4], 'sex': [2, 3, 4]}

In [73]:
import json as json
dfj = pd.DataFrame(np.random.randn(5, 2), columns=list('AB'))
print dfj
print "====="
obj = dfj.to_json()
print obj, type(obj)
print json.loads(obj)["A"]["0"]
print "====="
dfjo = pd.DataFrame(dict(A=range(1, 4), B=range(4, 7), C=range(7, 10)), columns=list('ABC'), index=list('xyz'))
print dfjo

          A         B
0  1.199850 -0.100840
1 -0.891368  0.742527
2 -0.205091  0.028784
3 -0.436605  0.692958
4 -0.049393 -0.081783
=====
{"A":{"0":1.1998500243,"1":-0.8913682344,"2":-0.205091429,"3":-0.4366050989,"4":-0.0493934591},"B":{"0":-0.1008396585,"1":0.7425272635,"2":0.0287837678,"3":0.6929580937,"4":-0.0817834756}} <type 'str'>
{u'A': {u'1': -0.8913682344, u'0': 1.1998500243, u'3': -0.4366050989, u'2': -0.205091429, u'4': -0.0493934591}, u'B': {u'1': 0.7425272635, u'0': -0.1008396585, u'3': 0.6929580937, u'2': 0.0287837678, u'4': -0.0817834756}}
1.1998500243
=====
   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

In [44]:
import json
obj={u"answer":[42.2],u'abs':42}
print(json.dumps(obj))
obj_json = u'{"answer": [42.2], "abs": 42}'
obj = json.loads(obj_json)
print(repr(obj))
obj = {u"answer": [42.2], u"abs": 42}
print(json.dumps(obj, indent=2))
class User(object):
    def __init__(self, name, password):
        self.name = name
        self.password = password
alice = User('Alice A. Adams', 'secret')
# json.dumps(alice)
def jdefault(o):
    return o.__dict__
print(json.dumps(alice, default=jdefault))
def jdefault(o):
    if isinstance(o, set):
        return list(o)
    return o.__dict__

pets = set([u'Tiger', u'Panther', u'Toad'])
print(json.dumps(pets, default=jdefault))

{"answer": [42.2], "abs": 42}
{u'answer': [42.2], u'abs': 42}
{
  "answer": [
    42.2
  ],
  "abs": 42
}
{"password": "secret", "name": "Alice A. Adams"}
["Tiger", "Toad", "Panther"]

In [37]:
import pickle
a = ['test value','test value 2','test value 3']
file_Name = "./data/data.csv"
file_Name2 = "./data/data.txt"
fileObject = open(file_Name,'wb')
# print fileObject
pickle.dump(a,fileObject)
fileObject.close()
fileObject = open(file_Name,'r')
b = pickle.load(fileObject)
print b,a==b

['test value', 'test value 2', 'test value 3'] True

In [25]:
a = np.array([ [1,2,3], [4,5,6], [7,8,9] ])
np.savetxt("./data/data.csv", a, delimiter=",")

In [22]:
# urlname="http://www.google.com/index.html"
# ds.exists(urlname)
# ds = np.DataSource()
# gfile = ds.open(urlname)
# print gfile
# lfile = ds.open('')
# print lfile

In [2]:
import numpy as np
import pandas as pd